$color0: #1d2935;
$color1: #48574c;
$color2: #4f6c50;
$color3: #68765e;
$color4: #6a8c5f;
$color5: #5da35a;
$color6: #95af6e;
$color7: #c3d48c;
$color8: #405a76;
$color9: #758d7b;
$color10: #79a57a;
$color11: #99ad8a;
$color12: #97c787;
$color13: #81e37d;
$color14: #c9ec94;
$color15: #fafeb3;
