[submodule "tmux--home/.tmux"]
	path = tmux--home/.tmux
	url = https://github.com/gpakosz/.tmux
[submodule "planck/qmk_firmware"]
	path = planck/qmk_firmware
	url = https://github.com/qmk/qmk_firmware
[submodule "zsh--home/.oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = zsh--home/.oh-my-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "rofi--home/.local/share/rofi"]
	path = rofi--home/.local/share/rofi
	url = https://github.com/0xdec/base16-rofi.git
