@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@-moz-document url("chrome://browser/content/browser.xul") {
	#PopupAutoCompleteRichResult {
		-moz-binding: url("bindings.xml#urlbar-popup") !important;
	}
	#navigator-toolbox {
		display: contents !important;
	}

	#nav-bar {
		-moz-box-ordinal-group: 2 !important;
	}
}
