#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! XFT settings
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

#define base00 #1d1f21
#define base01 #282a2e 
#define base02 #373b41
#define base03 #969896
#define base04 #b4b7b4
#define base05 #c5c8c6
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #cc6666
#define base09 #de935f
#define base0A #f0c674
#define base0B #b5bd68
#define base0C #8abeb7
#define base0D #81a2be
#define base0E #b294bb
#define base0F #a3685a



! Colors 
*.background:   base00
*.currentLine:  base01
*.selection:    base02
*.foreground:   base05
*.comment:      base03
*.red:          base08
*.orange:       base09
*.yellow:       base0A
*.green:        base0B
*.aqua:         base0C
*.blue:         base0D
*.purple:       base0E

*.color0:        base00
*.color1:        base01
*.color2:        base02
*.color3:        base03
*.color4:        base04
*.color5:        base05
*.color6:        base06
*.color7:        base07
*.color8:        base08
*.color9:        base09
*.color10:       base0A
*.color11:       base0B
*.color12:       base0C
*.color13:       base0D
*.color14:       base0E
*.color15:       base0F

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: base00, base02, argb:0000000
rofi.color-normal: base00, base05, base00, base02, base05
rofi.color-active: base00, base0D, base00, base0D, base05
rofi.color-urgent: base00, base08, base00, base08, base05
