#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

! XFT settings
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! Colors 

foreground:   #1abc9c
background:   #1F2D3A
cursorColor:  #1abc9c

color0:       #1d2935 
color1:       #48574c
color2:       #4f6c50
color3:       #68765e
color4:       #6a8c5f
color5:       #5da35a
color6:       #95af6e
color7:       #c3d48c
color8:       #666666
color9:       #48574c
color10:      #4f6c50
color11:      #68765e
color12:      #6a8c5f
color13:      #5da35a
color14:      #95af6e
color15:      #c3d48c

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
