@import "file:///home/sly/dotfiles/firefox--nostow/firefox.css";
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url(https://koryschneider.github.io/tab-a-startpage/) {
  :root {
   --bg-color: var(--color0);
   --text-color: var(--color5);
   --accent-color: #689d6a;
   --button-color: #928374;
  }
}
